.projects__container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.project__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .65em;
    width: 100%;
    height: 550px;
}

.projects__wrapper{
    display: flex;
    flex-direction: column-reverse;
    gap: 6em;
}

.project-column__wrapper{
    display: flex;
    flex-direction: column;
    gap: .65em;
    height: 100%;
    width: 100%;
}

.project-info{
    padding: 0 2em;
}

.project-left-deco{
    width: 100%;
    height: 3px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.tech-badge__container{
    display: flex;
    gap: .875em;
}

.projects-links__container{
    display: flex;
    gap: .875em;
}

.project-img{
    background: var(--lightTxt-color);
    width: 100%;
}

.project_1_img_wrapper{
    width: 100%;
    height: 100%;
}

/* Two large images 
.project_2_img_wrapper{
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: .65em; 
} */

.project_3_img_wrapper{
    height: 100%;
    display: flex;
    width: 100%;
    gap: .65em;
}

.project_3_img_s-column{
    display: flex;
    gap: .65em;
    width: 100%;
    flex-direction: column;
}

.project_4_img_wrapper{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: .65em;
}

.section-title__wrapper{
    display: flex;
    justify-content: center;
}

/* laptop display width 1365px */

@media (max-width: 1360px){
    .project__container{    
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .projects__container{
        height: fit-content;
    }

    .project-column__wrapper{
        height: fit-content;
        gap: 1.25em;
    }

    .project-info{
        padding: 0em;
    }

    .project_4_img_wrapper{
       gap: .65em;
    }
}


@media (max-width: 820px){
    .project_3_img_wrapper, .project_4_img_wrapper{
        display: flex;
        flex-direction: column;
    }
 
} 